# Ignore Python virtual environment
.ba-venv/

# Ignore secret configs
secrets.ini

# Ignore XML and notesheets
mcp_analysis/xml_responses.xml

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore logs
logs/

# Ignore VSCode or IDE stuff
.vscode/
.idea/

# Ignore Docker cache
.cache/